<aside class="sidebar" data-sidebar>

  <div class="sidebar-info">

    <figure class="avatar-box">
      <img src="./pictures/pic.jpg" alt="Josef Koumar" width="80">
    </figure>

    <div class="info-content">
      <h1 class="name" title="Josef Koumar">Josef Koumar</h1>
      <p class="title">PhD Candidate & Researcher</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>

  </div>

  <div class="sidebar-info_more">

    <div class="separator"></div>

    <ul class="contacts-list">

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Email</p>
          <a href="mailto:koumajos@fit.cvut.cz" class="contact-link">koumajos@fit.cvut.cz</a>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Location</p>
          <address>Prague, Czech Republic</address>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="school-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Institution</p>
          <address>FIT CTU in Prague</address>
        </div>
      </li>

    </ul>

    <div class="separator"></div>

    <ul class="social-list">

      <li class="social-item">
        <a href="https://github.com/koumajos" class="social-link" target="_blank">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a href="https://www.linkedin.com/in/josef-koumar/" class="social-link" target="_blank">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a href="https://scholar.google.com/citations?user=YOUR_ID" class="social-link" target="_blank">
          <ion-icon name="school-outline"></ion-icon>
        </a>
      </li>

    </ul>

  </div>

</aside>
